[submodule "persistent/extern/googletest"]
	path = persistent/extern/googletest
	url = https://github.com/google/googletest.git
[submodule "volatile/extern/googletest"]
	path = volatile/extern/googletest
	url = https://github.com/google/googletest.git
[submodule "volatile/extern/jemalloc"]
	path = volatile/extern/jemalloc
	url = https://github.com/jemalloc/jemalloc
[submodule "volatile/extern/numactl"]
	path = volatile/extern/numactl
	url = https://github.com/numactl/numactl
